---
import Layout from "../layouts/Layout.astro";
import { UploadZone } from "../components/UploadZone.tsx";
import { Attachments } from "../components/Attachments.tsx";
import "../styles/global.css";
import { CollageForm } from "@/components/CollageForm";
import { PDFViewer } from "@/components/PDFViewer";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-7xl py-5 lg:py-10 flex flex-col items-center">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Collage <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
        >PDF</span
      >
    </h1>
    <p
      class="mb-6 text-lg font-normal text-gray-500 px-4 text-center lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
      Arrastra los archivos al área de carga y genera un PDF con todas las
      imágenes.
    </p>
  </main>
  <UploadZone client:visible />
  <div class="mx-auto my-4 min-w-72 w-[250px] sm:w-[500px] md:w-[600px] lg:w-[900px]">
    <Attachments client:visible />
  </div>
  <CollageForm client:only="react" />
  <PDFViewer client:only="react" />
</Layout>
